.AmenCard {
  width: 600px;
  height: 300px;
  margin: 1.5rem;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0.56);
  overflow: hidden;
  position: relative;
}
.AmenCard_back {
  background-image: url("card.jpg");
  opacity: 0.75;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.AmenCard_back:hover {
  opacity: 1;
  /*transform: scale(1.1);*/
}

.AmenCard_Title {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  margin-top: 5px;
  font-size: 250%;
  padding: 10px;
  text-transform: capitalize;
}

.AmenCard_Content {
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  text-transform: capitalize;
}
