.invoice_Bacground{
    background-image:url("checkout.jpg");
    background-repeat: no-repeat;
      background-size: cover;
      background-position: center ;
      background-attachment: fixed;
}


.invoice_Container{
    background-color: white;
    width: 850px;
    margin: auto;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.invoice_Title{
    text-align: center;
    background-color: red;
    color: white;
}

.span_data{
    font-weight: bold;
}

.input{
border: transparent;  
}